<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--普通方案创建bean对象-->
    <bean id="myBean" class="cn.itsource._07_bean_create._01_normal.MyBean">

    </bean>
</beans>