<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--普通方法先创建Bean对象,才能调方法-->
    <bean id="phoneFactory" class="cn.itsource._07_bean_create._04_simple.PhoneFactory"></bean>
    <bean id="phone" factory-bean="phoneFactory" factory-method="createPhone"></bean>
</beans>